<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'> -->
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Include the AngularJS routing library -->
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
  </head>
  <body ng-controller="NavCtrl">

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Trevor Ransom</a></li>
        <li ng-class="navClass('sounds')"><a href='' ng-click="loadSounds()">Sounds</a></li>
        <li ng-class="navClass('videos')"><a href='' ng-click="loadVideos()">Videos</a></li>
      </ul>
    </div>
  </nav>
  
  <div ng-view></div>

  <!-- Modules -->
  <script src="js/directives/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/HomeController.js"></script>
  <!-- // <script src="js/controllers/PhotoController.js"></script> -->

  <!-- Services -->
  <!-- // <script src="js/services/photos.js"></script> -->

  </body>
</html>


